bars.jpg
'/home/perdomix/Документы/Bars_main_project/test-mvc-webapp/bin' '/home/perdomix/Документы/Bars_main_project/test-mvc-webapp/obj' '/home/perdomix/Документы/Bars_main_project/test-mvc-webapp/wwwroot'
'/home/perdomix/Документы/Bars/Bars_main_project/test.web/bin' '/home/perdomix/Документы/Bars/Bars_main_project/test.web/obj' '/home/perdomix/Документы/Bars/Bars_main_project/test.web/.vscode' '/home/perdomix/Документы/Bars/Bars_main_project/.vscode'
